/* page background + body text.*/
body {
    background-color: #c0ac76;
    font-family: "Roboto";
    padding: 10px;
}

.menu ul {
    font-weight: 500;
}

.products {
    display: flex;  
    gap: 16px;      /* space between cards */
    flex-wrap: wrap; /* make them wrap when users window is too small*/
    justify-content: center;
}

.item {
    
    box-shadow: #8c5c04 5px 5px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 250px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.item h3, .item p {
    margin: 10px;
}

.retailer {
    width: 100%;
    padding-top: 20px;
}

p {
    font-family: sans-serif;
}

footer {
    background-color: #8c5c04;
    border-radius: 12px;

}

footer address {
    padding: 10px;          
    margin: 2%;            /* hindra att text "läcker ut" */
}

